<ion-header *ngIf="!isPlayerExpanded" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Soni Radio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Conditionally display the language selector or the search bar -->
  <ng-container *ngIf="!isSearchBarVisible; else searchBarTemplate">
    <ion-segment (ionChange)="onLanguageChange($event)" value="all" scrollable>
      <ion-segment-button *ngFor="let language of displayedLanguages" [value]="language">
        <ion-label>{{ language | titlecase }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-container>

  <ng-template #searchBarTemplate>
    <ion-searchbar
      placeholder="Search channels"
      (ionInput)="onSearchChannel($event)"
      debounce="300"
      (ionBlur)="closeSearchBar()"
    ></ion-searchbar>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Stations -->
  <ion-list>
    <ion-item *ngFor="let station of displayedStations; let i = index" (click)="playStream(station, i)">
      <ion-thumbnail slot="start">
        <img
          [src]="sanitizeUrl(station.favicon)"
          alt="Station Image"
          (error)="onImageError($event)"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ station.name }}</h2>
        <p>{{ station.language }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mini Player -->
  <div
    class="mini-player"
    *ngIf="currentStation"
    (click)="togglePlayer()"
  >
    <div class="mini-player-content">
      <!-- Station Image -->
      <img
      [src]="sanitizeUrl(currentStation?.favicon)"
        alt="Station Image"
        class="mini-player-image"
        (error)="onImageError($event)"
      />
      <!-- Station Info -->
      <div class="station-info">
        <h3>{{ currentStation.name }}</h3>
        <p>{{ currentStation.language }}</p>
      </div>
      <!-- Player Controls -->
      <div class="player-controls">
        <button (click)="togglePlayPause($event)">
          <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
        </button>
        <button (click)="closePlayer($event)">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Full Player -->
  <div class="full-player" *ngIf="isPlayerExpanded">
    <!-- Minimize Button -->
    <button class="minimize-button" (click)="togglePlayer($event)">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </button>

    <!-- Station Image -->
    <img
    [src]="sanitizeUrl(currentStation?.favicon)"
      alt="Station Image"
      class="full-player-image"
      (error)="onImageError($event)"
    />

    <!-- Station Details -->
    <div class="station-details">
      <h2>{{ currentStation?.name }}</h2>
      <p><strong>Language:</strong> {{ currentStation?.language }}</p>
      <p><strong>Country:</strong> {{ currentStation?.country }}</p>
      <p><strong>Bitrate:</strong> {{ currentStation?.bitrate }} kbps</p>
    </div>

    <!-- Player Controls -->
    <div class="full-player-controls">
      <button (click)="prevStation()">
        <ion-icon name="play-skip-back"></ion-icon>
      </button>
      <button (click)="togglePlayPause()">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </button>
      <button (click)="goToNextStation()">
        <ion-icon name="play-skip-forward"></ion-icon>
      </button>
    </div>

    <!-- Next Station Details -->
    <div class="next-station" *ngIf="nextStation">
      <p class="up-next-title">Up Next</p>
      <div class="next-station-info">
        <img
        [src]="sanitizeUrl(nextStation?.favicon)"
          alt="Next Station Image"
          class="next-station-image"
          (error)="onImageError($event)"
        />
        <div class="next-station-details">
          <h3 class="next-station-name">{{ nextStation?.name }}</h3>
          <p class="next-station-artist">{{ nextStation?.language }}</p>
        </div>
      </div>
    </div>
  </div>

  <video
    #videoPlayer
    class="hidden-video-player"
    autoplay
    preload="auto"
    muted
  ></video>
  <audio #audioPlayer controls hidden></audio>
</ion-content>
